/* 变量设置 */

@import "../base/variables.scss";

/*
* mixin 所有自定义mixin 
* 每个功能模块都定义一个mixin
*/

@import "../mixin/mixins.scss";

.amway-goods{
	color: $gray;
	.tab{
		opacity:0.94;
		background:#ffffff;
		box-shadow:0px 1px 2px 0px rgba(0,0,0,0.20);
		@include fix-pos(0,auto);
		font-size: .16rem;
		text-align: center;
		li{
			margin: 0 .25rem;
			height: .42rem;
			line-height: .44rem;
			display: inline-block;
			padding: 0 .1rem;
			&.active{
				border-bottom: .02rem solid $primary;
				color: $primary;
			}
		}

	}
	.logo{
		@include fix-pos(.06rem,auto);
		left: .15rem;
		width: .45rem;
	}
	.swiper-banner{}
	.info{
		position: relative;
		text-align: center;
		background: #fff;
		padding: .1rem .1rem 0 .1rem;
		h3{
			margin: 0;
			font-size: .18rem;
		}
		.count,.btn{
			text-align: center;	
		}
		.count{
		    margin: 0 auto;
		    .minus,.plus{
		    }
		    .minus{
		    	text-align: left;
		    }
		}
		.btn{
			position: absolute;
			left: 0;
			width: 100%;
			bottom: .1rem;
			height:.28rem;
			span{
				width: 1.22rem;
				display: inline-block;
				background: $secondary;
				border-radius:.28rem;
				line-height:.28rem;
				height:.28rem;
				overflow: hidden;
				color: #fff;
				transition:width 1s;
				-moz-transition:width 1s; /* Firefox 4 */
				-webkit-transition:width 1s; 
				-ms-transition:width 1s; 
			}
		}
		small,em{
			color:$secondary;
		}
		small{
			font-size: .12rem;
		}
		em{
			font-size: .3rem;

		}
		span{
			color:$gray-light;
			font-size: .12rem;
		}
		strong{
			font-size: .16rem;
			font-weight: normal;
		}
	}
	.like{
		margin-top:.14rem;
		text-align: center;
		font-size: .17rem;
		line-height: .65rem;
		background: #fff;
	}
	.lists{
		background: #fff;
		@include clearfix;
		.list{
			width: 50%;
			float: left;
			&:nth-child(odd){
				dl{
					padding: 0 .05rem .16rem .1rem;
				}
			}
			&:nth-child(even){
				dl{
					padding: 0 .1rem .16rem .05rem;
				}
			}
		}
		.count{
			width: auto;
			.plus{
				top: -.34rem;
			}
		}
		dl{
			line-height: 1.5;
			position: relative;
			text-align: center;
		}
		dt{
			margin-top: .05rem;
			font-size: .15rem;
			@include ellipsis;
		}
		dd{
			@include ellipsis;
			font-size: .13rem;
			color:$gray-light;
		}
		span{
			display: inline-block;
			margin-top: .03rem;
			font-size: .16rem;
			color: $secondary;
		}
		small{
			font-size: .12rem;
		}
		img{

		}
	}
	.main-nav{
		height: .45rem;
		line-height: .45rem;
		@include display;
		a{
			@include flex;
		}
		.cart-btn{
			@include abs-pos(auto,auto,.05rem,.05rem);
			background: $primary;
			text-align: center;
			color:#fff;
			width: .5rem;
			height: .5rem;
			line-height: .5rem;
			border-radius: 100%;
			i{
				font-size: .29rem;
			}
			span{
				background: $secondary;
				line-height: .14rem;
				border-radius: .15rem;
				min-width: .24rem;
				@include abs-pos(.03rem,auto,auto,.35rem);
			}
		}
		.price{
			text-align: left;
			padding-left: .66rem;
			em{
				color: $secondary;
				font-size: .24rem;
				display: block;
			}
			small{
				font-size: .16rem;
			}
		}
		.create-order{
			background: $secondary;
			font-size: .18rem;
			span{
				color: #fff;
			}
		}

	}
	.cart-con{
		display: none;
		@include fix-pos(auto,.45rem);
		height: 3rem;
	}
	.cart-list{
		height: 2.7rem;
		overflow: auto;
		background: #fff;
		dl{
			margin: 0 .1rem;
			@include display;
			line-height: .51rem;
			border-bottom: .01rem solid $line;
		}
		dt{
			@include flex;
			@include ellipsis;
		}
		dd{
			width: .7rem;
			text-align: center;
		}
		.count{
			margin-top: .04rem;
		}
	}
	.count{
		position: relative;
		width: .74rem;
		line-height: .22rem;
		.minus,.plus{
			padding: .1rem;
			position: absolute;
			top:0;
		}
		.num{
			display: block;
			width: 100%;
			padding: .1rem 0;
			text-align: center;
		}
		.minus{
			
			left: -.1rem;
			
		}
		.plus{
			right: -.1rem;
			text-align: right;
		}
		i{
			text-align: center;
			display: inline-block;
			border: .01rem solid $line;
			color: $secondary;
			border-radius: 100%;
			width: .2rem;
			height: .2rem;
			line-height: .2rem;
			background: #fff;
		}
	}
	.cart-clear{
		@include display;
		background: #eee;
		color: $gray-light;
		padding: 0 .1rem;
		line-height: .3rem;
		span,em{
			display: block;
			@include flex;
		}
		span{
			text-align: right;
		}
	}
	.cover-bg{
		z-index: 0
	}
}