.amway-income {
  color: #3a3a3a;
  > a {
    color: #3a3a3a;
  }
  .flex {
    @include display;
    @include justify-content(space-between);
  }
  .section {
    padding: .15rem .1rem;
    background-color: #fff;
    margin-top: .1rem;
  }
  .extract {
    padding-top: .16rem;
    padding-bottom: .16rem;
    line-height: 1;
    border-bottom: .01rem solid #dcdcdc;
    >p {
      font-size: .15rem;
      margin-bottom: .15rem;
    }
  }
  .amount {
    color: $secondary;
    font-size: .17rem;
    margin-left: .1rem;
    span,em {
      font-weight: bolder;
    }
    span {
      font-size: .24rem;
    }
    em {
      font-size: .15rem;
    }
  }
  .btn {
    display: block;
    padding: .06rem .32rem;
    color: #fff;
    background-color: $gray-lighter;
    @include border-radius(.04rem);
    &.active {
      background-color: $secondary;
    }
  }
  .total {
    background-color: #fff;
    .item {
      @include flex; 
      padding: .16rem 0;
    }
    p {
      font-size: .12rem;
      text-align: center;
      line-height: 1;
    }
    .item:not(:last-of-type) {
      border-right: .01rem solid #dcdcdc;
    }
    .data {
      height: .16rem;
      color: $secondary;
      font-size: .16rem;
      margin-top: .11rem;
    }
  }
  .more {
    font-size: .15rem;
    div {
      @include flex;
    }
    i {
      display: block;
      text-align: right;
      font-size: .14rem;
      line-height: .21rem;
      color: $gray-lighter;
      width: .28rem;
    }
  }
}