.has-nav .amway-income-detail {
  margin-top: 1.02rem;
}
.amway-income-detail {
  .tab {
    position: fixed;
    top: .5rem;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #3a3a3a;
    font-size: .14rem;
    @include box;
    box-shadow:0 .01rem .02rem 0 rgba(0,0,0,.2);
    -webkit-box-shadow:0 .01rem .02rem 0 rgba(0,0,0,.2);
    li {
      padding: .11rem 0;
      text-align: center;
      @include box-flex;
      position: relative;
    }
    .active {
      color:#65a032;
      &:after {
        content: '';
        background-color: #65a032;
        width: .52rem;
        height: .02rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -.27rem;
        @include border-radius(0,.15rem,.15rem,0);
      }
    }
  }
  .content{
    margin-top: .82rem;
  }
  dl {
    padding: .16rem .1rem;
    background-color: #fff;
    align-items: center;
    color: $gray;
    line-height: 1.2;
  }
  dl:not(:last-of-type) {
    border-bottom: .01rem solid #dcdcdc;
  }
  .column {
    @include dis-flex;
    @include flex-direction(column);
    @include justify-content(space-between);
  }
  dt {
    color: $secondary;
    line-height: .36rem;
    width: 17%;
    &.gray {
      color: $gray-lighter;
    }
  }
  dd {
    width: 24%;
  }
  .middle {
    width: 57%;
  }
  .price {
    text-align: right;
    font-size: .12rem;
  }
  .good,.buy {
    @include ellipsis;
  }
  .buy,time {
    font-size: .12rem;
    color: $gray-light;
  }
  .no-data {
    margin-top: 1.3rem;
    text-align: center;
  }
}

.has-app {
  .amway-income-detail {
    .tab {
      top: .72rem
    }
    .content {
      margin-top: 1.22rem;
    }
    .no-data {
      margin-top: 1.5rem;
    }
  }
}

@media screen and (max-width: 374px) {
  .amway-income-detail {
    dt {
      width: 15%;
    }
    .middle {
      width: 49%;
    }
  }
}