.amway-rule {
  padding: .2rem .1rem .4rem;
  .title {
    font-size: .15rem;
    line-height: .24rem;
  }
  .content {
    color: #999;
    line-height: .26rem;
    p {
      text-indent: .3rem;
    }
  }
}
