/* z-index 说明
 * 全局弹出框，提示信息等最设置200
 * 页面弹出信息设置为100
 * 页面用position定位，原则不设置z-index
 * 如果涉及到swiper等插件用到的position，则按照1、2最小设置
 */
.l_r{
	@include display;
	dd{
		@include flex;
	}
}
.cover{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.4);
	z-index: 100;
}
.nodata{
    text-align: center;
    color: $gray-light;
}
.hide{
	display:none !important;
}

.show{
	display:block !important;
}
// mint 全局设置
.mint-indicator{
	position: relative;
	z-index: 200;
}


.input-box {
    @include box-flex;

    .ellipse {
        position: relative;
        width: .51rem;
        height: .28rem;
        @include border-radius(.2rem);
        display: inline-block;
        border: 2px solid $line;
        -webkit-transition: background .2s;
        .circle {
            position: absolute;
            border: 1px solid $line;
            right: .23rem;
            width: .26rem;
            height: .26rem;
            -webkit-transition:right .5s;
            @include border-radius(50%);
            // @include box-shadow(2px 1px 3px #ccc);
            background-color: #fff;
        }
        &.active {
            background: #649725;
            border-color: #649725;
            .circle {
                border: 1px solid #649725;
                right: 0;
            }
        }
    }
}

.specific {
    @include box;
    position: relative;
    background: #fff;
    padding: .12rem .1rem;
    font-size: .15rem;
    &:before,
    &:after {
        position: absolute;
        left: 0;
        content: '';
        display: block;
        width: 100%;
        height: .02rem;
        background: url('https://s3.cn-north-1.amazonaws.com.cn/awshuodong.fruitday.com/wechatappGift/border.png') repeat-x -.1rem 0;
    }
    &:before{
        top: 0;
    }
    &:after{
        bottom: 0;
    }
    p{
        color:$gray-light;
        font-size: .13rem;
    }
    .infor{
        @include box-flex;
    }
}