/*
 *常用颜色和主色
 */

$gray-dark:           #000 !default;
$gray:                #515151 !default;
$gray-light:          #8a8a8a !default;
$gray-lighter:        #eee !default;

/*
 *分割线
 */
$line: #dcdcdc !default;

/*
 *主要和次要颜色
 */
$primary:             #e9521a !default;
$secondary:           #77b22a !default;
$tertiary:            #f5b517 !default;


/*
 *成功，信息，警告，危险对应色值
 */
$success:             #5cb85c !default;
$info:                #5bc0de !default;
$warning:             #f0ad4e !default;
$danger:              #ff4848 !default;

$link-hover:      underline !default;

/*
 *排版Typography
 */
/*
 *Font, line-height, and color for body text, headings, and more.
 */

$font-family:      Arial,"Microsoft Yahei" ,sans-serif !default;
$font-size-root:             100px !default;


$font-size-xl:               .3rem !default;
$font-size-l:               .2rem !default;
$font-size:             .14rem !default;
$font-size-s:               .12rem !default;
$font-size-xs:               .1rem !default;

$line-height-l:         2 !default;
$line-height:                1.5 !default;
$line-height-s:         1.2 !default;


