.amway-process {
    width: 100%;
    background-color: #bd9f5c;
    text-align: center;
    img {
        max-width: 3.75rem;
        margin: 0 auto;
    }
}

.amway{
    .tab-content {
        &.active {
            display: block;
        }
    }
    a{
        color: $gray;
    }
    .goods {
        background-color: #fff;
        margin-top: .1rem;
    }
    .title {
        padding: .1rem;
        font-size: .15rem;
        border-bottom: .01rem solid #dcdcdc;
    }
    .icon-fanlishangpin {
        margin-right: .1rem;
    }
    .goods-items {
        
    }
    .item{
        img {
            width: 1.05rem;
            height: 1.05rem;
            margin-right: .1rem;
        }
        padding: .1rem;
        border-bottom: .01rem solid $line;
    }
    .info{
        @include flex;
        position: relative;
    }
    .name {
        @include ellipsis(2);
    }
    .unit {
        display: block;
        font-size: .12rem;
        color: $gray-light;
    }
    .format{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    }
    .price {
        @include display;
        @include justify-content(space-between);
        margin-top: .08rem;
        .rebate {
            font-size: .18rem;
        }
        span {
            font-size: .1rem;
        }
        em {
            font-size: .14rem;
            color: $secondary;
        }
        a {
            text-align: right;
            display: block;
            background-color: $secondary;
            color: #fff;
            line-height: 1;
            padding: .06rem .1rem;
            @include border-radius(.06rem);
        }
    }
    .income {
        .section {
            padding: .15rem .1rem;
            background-color: #fff;
            margin-top: .1rem;
        }
        .extract {
            padding:.16rem .1rem;
            line-height: 1;
            border-bottom: .01rem solid #dcdcdc;
            >p {
                font-size: .15rem;
                margin-bottom: .15rem;
            }
        }
        .amount {
            color: $secondary;
            font-size: .17rem;
            margin-left: .1rem;
            span,
            em {
                font-weight: bolder;
            }
            span {
                font-size: .24rem;
            }
            em {
                font-size: .15rem;
            }
        }
        .btn {
            display: block;
            color: #fff;
            width: .92rem;
            text-align: center;
            line-height: .26rem;
            background-color: $gray-lighter;
            @include border-radius(.04rem);
            &.active {
                background-color: $secondary;
            }
        }
        .total {
            background-color: #fff;
             @include display;
            @include justify-content(space-between);
            .item {
                @include flex; 
                padding: .16rem 0;
            }
            p {
                font-size: .12rem;
                text-align: center;
                line-height: 1;
            }
            .item:not(:last-of-type) {
                border-right: .01rem solid #dcdcdc;
            }
            .data {
                height: .16rem;
                color: $secondary;
                font-size: .16rem;
                margin-top: .11rem;
            }
        }
        .more {
            background: #fff;
            padding: 0 .1rem;
            line-height: .45rem;
            font-size: .15rem;
            margin-top: .1rem;
            i {
                display: block;
                text-align: right;
                font-size: .14rem;
                color: $gray-lighter;
            }
        }
    }
}

@media screen and (max-width: 374px) {
    .amway {
        .l_r {
            img {
                width: .9rem;
                height: .9rem;
            }
        }
        .price {
            .rebate {
                font-size: .14rem;
            }
            a {
                padding-left: .08rem;
                padding-right: .08rem;
                font-size: .12rem;
            }
            em {
                font-size: .12rem;
            }
        }
        .name {
            font-size: .13rem;
        }
    }
}
