.amway-real {
  .section {
    background-color: #fff;
    margin-bottom: .3rem;
  }
  .form-group {
    height: .5rem;
    font-size: .16rem;
    padding: 0 .1rem;
    @include box;
    @include box-align;
    text-align: right;
    &:not(:last-of-type) {
      border-bottom: 1px solid $line;
    }
    label {
      text-align: left;
      display: inline-block;
      width: .85rem;
      @include box-flex;
    }
    .input-box {
      @include box-flex;
    }
    input {
      width: 90%;
      height: .46rem;
      line-height: normal;
      text-align: right;
      -moz-appearance: none;
      -webkit-appearance: none;
      border: none;
      outline: medium none;
      background-color: transparent;
    }
  }
  .btn {
    margin: 0 .4rem;
    display: block;
    background-color: $gray-lighter;
    font-size: .16rem;
    color: #fff;
    padding: .12rem 0;
    text-align: center;
    line-height: 1;
    @include border-radius(.04rem);
    &.active {
      background-color: $secondary;
    }
  }
}