// 新标准
//display
@mixin display {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

// Box-flex
//flex
@mixin flex($value: 1) {
    -webkit-flex: $value;
    -moz-flex: $value;
    -ms-flex: $value;
    -o-flex: $value;
    flex: $value;
}

//项目排列方向
@mixin flex-direction($value: row) {
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
    -o-flex-direction: $value;
    flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    -ms-flex-wrap: $value;
    -o-flex-wrap: $value;
    flex-wrap: $value;
}

@mixin flex-shrink($value: 1) {
    -webkit-flex-shrink: $value;
    -moz-flex-shrink: $value;
    -ms-flex-shrink: $value;
    -o-flex-shrink: $value;
    flex-shrink: $value;
}

//横轴对其方式
@mixin justify-content($value: center) {
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    -ms-justify-content: $value;
    -o-justify-content: $value;
    justify-content: $value;
}

//纵轴对齐方式
@mixin align-items($value: center) {
    -webkit-align-items: $value;
    -moz-align-items: $value;
    -ms-align-items: $value;
    -o-align-items: $value;
    align-items: $value;
}