.close {
    float: right;
    font-size: $font-size * 1.5;
    line-height: 1;
    color: $gray-lighter;
    text-shadow: $gray;
    opacity: .2;
}

// Additional properties for button version
// iOS requires the button element instead of an anchor tag.
// If you want the anchor version, it requires `href="#"`.
// See https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}