// ellipsis
@mixin ellipsis($line: 1) {
    @if $line > 1 {
        display: -webkit-box;
        -webkit-line-clamp: $line;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
    }
    @else {
        white-space: nowrap;
    }
    overflow: hidden;
    text-overflow: ellipsis;
}