@mixin transition($transition...) {
  @if length($transition) >= 1 {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  } @else {
    $transition: all .3s ease-in-out 0s;
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
  }
}